---
layout: default
---
<section class="about usa-grid">
  <div class="usa-width-one-third"><img src="{{ site.baseurl }}/assets/images/avatar.jpg"></div>
  <div class="usa-width-two-thirds">
    <p>{{ site.pages[0]['excerpt'] | markdownify }}</p>
    <p><a href="{{site.baseurl}}/about/">Read more</a></p>
  </div>
</section>
<section class="blog-posts">
  <header class="usa-grid">
    <h2 class="usa-heading usa-width-one-whole">Recent blog posts</h1>
  </header>
  <section class="usa-grid blog-posting">
    {% for post in site.posts limit:3 %}
      {% include post-snippet.html class="third" %}
    {% endfor %}
  </section>
  <section class="usa-grid blog-posting">
    {% for post in site.posts offset:4 limit:2 %}
      {% include post-snippet.html class="third" %}
    {% endfor %}
      <div class="usa-width-one-third">
        <h3><a href="{{site.baseurl}}/blog/page/2/">Read more posts</a></h3>
  </section>
