<footer class="site-footer usa-grid">
  <hr class="usa-width-one-whole">
  {% if page.collection == "posts" %}
  {% include post-footer.html %}
  {% endif %}
  <section class="usa-grid">
    <p class="rss-subscribe usa-width-one-third"><a href="{{ "/feed.xml" | prepend: site.baseurl }}">{% include rss-svg.html %}</a></p>
    <p class="github usa-width-one-third"><a href="https://github.com/{{site.github}}">
      {% include github-svg.html %}
    </a></p>
    <p class="twitter usa-width-one-third"><a href="https://twitter.com/{{ site.twitter }}">
        {% include twitter-svg.html %}
    </a></p>
  </section>
    <script type="text/javascript" src="/assets/js/underscore-min.js"></script>
    <script type="text/javascript" src="/assets/js/leaflet.js"></script>
    <script type="text/javascript" src="/assets/js/stamen.js"></script>
    <script type="text/javascript" src="/assets/js/map.js"></script>
    <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-58136035-1', 'auto');

    // anonymize user IPs (chops off the last IP triplet)
    ga('set', 'anonymizeIp', true);

    // forces SSL even if the page were somehow loaded over http://
    ga('set', 'forceSSL', true);

    ga('send', 'pageview');
  </script>
</footer>
