<header class="usa-grid">
  <div class="usa-width-one-whole">
    <h1 class="usa-heading"><a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}: {{ site.description }}</a></h1>
  </div>
</header>
