<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta charset="utf-8">
  <title>{% if page.title %}{{ page.title }} {% else %}{{ site.title }}{% endif %}{% if site.description %} | {{ site.description }}{% endif %}</title>
  <meta name="viewport" content="width=device-width">
  <meta name="description" content="{{ site.description }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

  <!-- Custom CSS -->
  <link rel="stylesheet" href="{{ "/assets/css/styles.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/assets/css/leaflet.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/assets/css/print.css" | prepend: site.baseurl }}">
</head>
