<div class="usa-grid resume-writing">
  <h2 class="usa-header">Writing and publications</h2>
  <div class="usa-width-one-whole">{% assign writing = site.data.resume.publications %}
  {% for pub in writing %}
  <p>"{{ pub.name }}." {% if pub.title %}<em>{{ pub.title }}</em>.{% endif %} {{ pub.publisher }}. {{ pub.releaseDate | date: "%B %d, %Y"}} <a href="{{pub.website}}">{{pub.website}}</a></p>
  {% endfor %}
  </div>
</div>
