---
layout: default
---
<div class="post usa-grid">

  <header class="post-header usa-width-one-whole">
    <h1>{{ page.title }}</h1>
  </header>

  <article class="post-content usa-grid">
  {{ content }}
  </article>

</div>
