---
layout: default
---
<article class="post usa-grid">

  <header class="post-header usa-width-one-whole">
    <h1>{{ page.title }}</h1>
    <p class="meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
  </header>
  <section class="post-content">
    {{ content }}
  </section>
</article>
