---
---
<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
    <body>
      <div class="post usa-grid">

        <header class="post-header usa-width-one-whole">
          <h1 class="usa-header">{{ site.data.resume.basics.name }}</h1>
          <p>{{  site.data.resume.basics.summary }}</p>
          {% comment %}<!-- <div class="resume-preamble usa-grid">
            <p class="usa-width-one-fourth">{{ site.data.resume.basics.location.city }}, {{ site.data.resume.basics.location.state }}</p>
            <p class="usa-width-one-fourth">{{ site.data.resume.basics.email}}</p>
<span class="usa-width-one-fourth"><a href="{{ site.data.resume.basics.website }}">{{ site.data.resume.basics.website }}</a></p>
            <p class="usa-width-one-fourth">{{ site.data.resume.basics.summary }}</p>
          </div> -->{% endcomment %}
        </header>

        <article class="post-content usa-width-one-whole">
        {{ content }}
        </article>

      </div>
      {% include footer.html %}
    </body>
</html>
